SUPABASE_URL=https://avtthmyizixxlkblbzqe.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2dHRobXlpeml4eGxrYmxienFlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxMTc5OTAsImV4cCI6MjA5MTY5Mzk5MH0.Vf7Iomymf0bdkqctEnEsZmgwRc1inHOn7aalJw5BAh4
